---
title: Get Stronger
lead: Welcome to Get Stronger
---

<section class="page-section">
  <div class="container">
    <div class="page-header">
      <h1>Meet Anthony</h1>
    </div>
  </div><!--/container-->
<div class="jumbotron">
  <div class="container">
    <img src="" alt="Picture of Anthony"/>
    <p class="lead">Some about text that Anthony will provide to Brad very soon.</p>
  </div><!--/container-->
</div><!--/.jumbotron-->

</section><!--/.page-section-->

<section class="page-section">
  <div class="container">
    <div class="page-header">
      <h1>Follow Anthony</h1>
    </div>

    {{> twitter-follow}}
    <div id="recent-tweets"></div><!--/#example1-->
    {{> facebook-like}}
  </div><!--/container-->
</section><!--/.page-section-->

<section class="page-section">
  <div class="container">
    
    <div class="page-header">
      <h1>Train with Anthony</h1>
    </div>

    <ul>
      <li>Description of services or approach statement</li>
      <li>Contant information (email? form? Phone number?)</li>
    </ul>

  </div><!--/container-->
</section><!--/.page-section-->